.ios,.md{
    student-details{
  
  ion-card{

     border-radius: 15px;          
   }

  #icsd{

    border-radius: 5px; 
    background-color:#82B1FF;
  }
  
   #sdt{
  
     color:white;

   }
}
}