<ion-header transparent>
    <ion-navbar color="appheader" align-title="center">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Notifications</ion-title>
        <ion-buttons end>
            <button ion-button (click)="presentPopover($event)">
  <ion-icon name="more"></ion-icon>
</button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content padding-top class="getstart">

    <ion-segment [(ngModel)]="segment" (ionChange)="segselect_teacher()">

        <ion-segment-button value="admin">
            School
        </ion-segment-button>

        <ion-segment-button value="noti">
            Teacher
        </ion-segment-button>

    </ion-segment>


    <div [ngSwitch]="segment">

        <div *ngSwitchCase="'admin'">
            <ion-card>
                <ion-item>
                    <ion-label> Notifications </ion-label>
                    <ion-datetime displayFormat="DD/MMM/YYYY" min="2017" max="2018-10-31" pickertFormat="DD MM YYYY" (ionChange)="changeadmin(x)" [(ngModel)]="selected_admindate"></ion-datetime>
                </ion-item>
            </ion-card>
            <!--I am going to do Angular 2 coding to fetch the data from the database !-->
            <ion-list>
                <ion-item-sliding #slidingItem *ngFor="let x of abt_page_notification">

                    <ion-item (click)="showrow(x)" *ngIf="!x.expand">
                        <ion-avatar item-left>
                            <div id="a"><img src="assets/img/exams2.png"></div>
                        </ion-avatar>

                        <h2> {{x.title}} </h2>
                        <p> {{x.message}} </p>

                    </ion-item>
                    <ion-item text-wrap (click)="showrow(x)" *ngIf="x.expand">

                        <ion-avatar [ngClass]="{'ion2':avatar_ht,'ion1':!avatar_ht}" item-left>
                            <div id="a"><img src="assets/img/exams2.png"></div>
                        </ion-avatar>

                        <h2>{{x.title}}</h2>
                        <p>{{x.message}}</p>

                    </ion-item>

                    <ion-item-options side="right">
                        <button ion-button color="secondary" (click)="edit(slidingItem,x)">
         <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
        Edit
      </button>
                        <button ion-button color="danger" (click)="delete(slidingItem,x)">
         <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        Delete
      </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

            <p>
            </p>
            <p>
            </p>
            <p>
            </p>
        </div>
        <div *ngSwitchCase="'noti'">
            <ion-card>
                <ion-item>
                    <ion-label> Notifications </ion-label>
                    <ion-datetime displayFormat="DD/MMM/YYYY" min="2017" max="2018-10-31" pickertFormat="DD MM YYYY" (ionChange)="changenoti(x)" [(ngModel)]="selected_notidate"></ion-datetime>
                </ion-item>
            </ion-card>
            <ion-list>
                <ion-item-sliding #slidingItem *ngFor="let x of abt_page_notification">

                    <ion-item (click)="showrow(x)" *ngIf="!x.expand">
                        <ion-avatar item-left>
                            <div id="a"><img src="assets/img/exams2.png"></div>
                        </ion-avatar>

                        <h2> {{x.title}} </h2>
                        <p> {{x.message}} </p>

                    </ion-item>
                    <ion-item text-wrap (click)="showrow(x)" *ngIf="x.expand">


                        <ion-avatar [ngClass]="{'ion2':avatar_ht,'ion1':!avatar_ht}" item-left>
                            <div id="a"><img src="assets/img/exams2.png"></div>
                        </ion-avatar>

                        <h2>{{x.title}}</h2>
                        <p>{{x.message}}</p>

                    </ion-item>

                    <ion-item-options side="right">
                        <button ion-button color="secondary" (click)="edit(slidingItem,x)">
         <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
        Edit
      </button>
                        <button ion-button color="danger" (click)="delete(slidingItem,x)">
         <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        Delete
      </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

            <p>
            </p>
            <p>
            </p>
            <p>
            </p>
        </div>
    </div>

</ion-content>
<!--
<ion-footer>
  <ion-toolbar color="appheader"><ion-row><ion-col id="col1"><ion-icon color="lit" name="home" (click)="home()"align-left><br>Home</ion-icon></ion-col>
</ion-row>  </ion-toolbar>
</ion-footer>
-->