.ios,
.md {
    parent-meet {
        @font-face {
            font-family: Barrio;
            src: url"(‘../assets/fonts/barrio.woff2’) format(‘woff2’)";
        }
        ion-option,
        ion-select {
            font-family: 'Times New Roman', Times, serif;
            font-size: 100%;
        }
        button,
        h3 {
            font-family: 'Times New Roman', Times, serif;
        }
        ion-title,
        ion-segment {
            font-family: 'Oswald', sans-serif;
        }
        .www,
        p,
        h4 {
            font-family: 'Oswald', sans-serif;
            font-size: 100%;
        }
        #a1 {
            text-align: center;
            width: 30%;
            margin-left: 30%;
            border-radius: 30%;
        }
        ion-card {

            border-radius:10px;
        }

        @media all and (min-width:1281px)  {
            
        ion-card {
    
            max-width:50% !important;
    
            margin-left:25% !important;
        }
        }
        @media all and (min-width : 576px) and (max-width : 1024px)  { 
            
                    ion-card {
                        
                                max-width:60% !important;
                        
                                margin-left:20% !important;
                            }
                }
                
    }
}