.ios,
.md {
    exam-type {
        #co {
            padding: 0;
            text-align: center;
            font-size: 90%;
            color: white;
            background-color: #5D96CC;
        }
        .padding-bottom {
            background-color: #F8F9F9; 
            color: black;
        }
        ion-card{

            border-radius: 15px;
        }
        #icet {

            color:white;
            background-color: #29B6F6;
        }
        #iexam {

            background-color: #F8F9F9;
        }
    }
}