.ios,
.md {
class-year{
.page-bg {
    .header-row-display {
      background-color: #4FC3F7;
      font-size: 100%;
        
    }
    .center-position{
        text-align: center;
    }
    #icc{
        border-radius:10px;
    
    }
    #ich{
        color:navy;
    }
    }
}
}