.mmm{
    ion-card {
    background-color: #4FC3F7;    //#2072B0;  // #AF60FF;
//    background-color: #4A2BA9;  // #AF60FF;
    border-radius: 15px;
   
    } 
#bt{
  color:white;
  border-color: white;
}
}