.ios,
.md {
    subject-page {
    
        #co {
            padding: 0;
            text-align: center;
            font-size: 90%;
            color: white;
            background-color: #5D96CC;
        }
        .padding-bottom {
            background-color:#F8F9F9; 
            color:black;
        }

        ion-card{

            border-radius:15px;
        }
        #icsub{

            background-color: #29B6F6;
            color:white;
        }
        #isub{
            background-color: #F8F9F9;
        }
    }
}