.ios,.md{
    quizq-page{

   #iquiz{

       width:50%;
   } 
  /* #qb{
   
    background-color:#32db64;
    color:white;
      
   }

   #qbt{

    background-color:#f53d3d;
    color:white;
   }
*/
       
   .faid {


       background-color:#29B6F6;
       color:white;
   }    



    }

}